*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Sidebar{
    background-color:red ;
    color:white;
    width: 15%;
    padding-bottom: 100%;
    position: fixed;
}
.Header{
    color: black;
}